POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=model_generator
POSTGRES_PORT=5432

MYSQL_ROOT_PASSWORD=root
MYSQL_DB=model_generator
MYSQL_USER=mariadb
MYSQL_PASSWORD=mariadb
MYSQL_PORT=3306
